@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&display=swap');

body * {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

.container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    border: 3px solid black;
    border-radius: 5px;
    margin-top: 20vh;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 40vw;
    height: 60vh;
    margin-top: 20vh;
}

.flex-box {
    color: white;
}